@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  font-family: 'Righteous', cursive;
  color: rgb(37, 130, 218);
}
